# Môi trường: development hoặc production
ENV=development

# Thông tin Database (Nếu dùng Postgres/MySQL cho prod)
DATABASE_URL=sqlite:///./ecommerceapp.db

# Security
SECRET_KEY=your_secret_key_here
ALGORITHM=HS256
PEPPER_AUTH=your_pepper_here

# Các thiết lập khác (ví dụ: cổng chạy server)
PORT=8000